<!-- <app-employee-list></app-employee-list>
<app-employee-post></app-employee-post> -->
<ul>
  <li><button> <a routerLink="/post"> New Form </a></button></li><br>
  <li><button> <a routerLink="/get"> Employee List </a></button></li><br>
  <li> <button><a href="https://www.google.com/search?gs_ssp=eJzj4tTP1TcwMU02T1JgNGB0YPBiS8_PT89JBQBASQXT&q=google&oq=goo&gs_lcrp=EgZjaHJvbWUqEwgDEC4YgwEYxwEYsQMY0QMYgAQyBggAEEUYOTIOCAEQRRgnGDsYgAQYigUyDAgCEC4YJxiABBiKBTITCAMQLhiDARjHARixAxjRAxiABDINCAQQABiDARixAxiABDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPNIBCDMzMTNqMGo3qAIIsAIB&sourceid=chrome&ie=UTF-8"> Google </a></button></li><br>
</ul>

<router-outlet></router-outlet> 